[2020-03-12 12:06] ariedel commented on #331
I will need to get NIRSpec's decision on this, from @glennjwst or @cherylpavlovsky .

To summarize my understanding:
The defined NIRSpec focus point is outside the region sampled during testing. Previous versions of WebbPSF just picked the closest field point (ISIM1) for their coefficients, but the new one extrapolates to the location of the focus point.

The two options are:
* Continue with the c

[2020-03-12 12:35] glennjwst commented on #331
@ariedel , @cherylpavlovsky
Thank you for requesting our input. But since we have little insight into how this works, I am not sure that I can give an informed decision at this time. I assume that this fix will not go into effect until after the current JWST call for proposals, and therefore is not a risk to confuse the user prior to the May 1 proposal deadline.

I am always concerned about extrap

[2020-03-12 13:20] ariedel commented on #331
@glennjwst @cherylpavlovsky
This will absolutely not go into effect until after the current JWST call for proposals.

Neither of the two options are likely to actually be the same as the old WebbPSF 0.8.0 results, because of improvements in WebbPSF itself in version 0.9.0.
Option 1 would be to use the new extrapolated wavefront coefficients at the actual focus point
Option 2 would move the focus p

[2020-03-12 13:28] glennjwst commented on #331
@ariedel @cherylpavlovsky
I would like to see the two sets, even if it is just for us to get an overall feel for things and note any big discrepancies. I would prefer to have things based on actual measurements, which would point to Option2. But if there are good arguments for consistency among instruments or whatever else that says we should use Option 1, then I would be open to them.

[2020-03-12 13:36] ariedel commented on #331
Let's move this discussion to Jira. I've filed JETC-1011 for this.

[2020-03-19 16:18] mperrin opened #348 "Change NIRSpec default detector coordinates"
The standard default, (1024,1024), doesn't make much sense for NIRSpec because that's outside of the MSA field of view in non-dispersed mode. A better default would be (1380, 1024), which is the S1600A1 square aperture coordinates in imaging mode.

As discussed in #331 and https://jira.stsci.edu/browse/JETC-1011

[2020-03-20 18:03] mperrin commented on #331
Discussion moved to JIRA and resolved there, or at least we agreed on the right path forward.

As there is no actual problem with the code in WebbPSF for Zernike interpolation, I'm going to mark this closed here.

[2020-03-20 18:03] #331 closed

[2020-03-24 14:04] JuergenSchreiber commented on #274
I am working on the LRS simulator and therefore would be interested when you plan to implement the detector scattering in the webbPsf of LRS?

[2020-03-24 14:16] mperrin commented on #274
Hi @JuergenSchreiber  - we have no particular timeline or plan for this, since no one has been asking for this, until you now.  If you have time to help with this yourself, I would be able to advise you on the necessary steps for this. I think the necessary changes will be mostly or entirely in the function `apply_miri_scattering` in `distortion.py`, but I have not looked at this code in quite som

[2020-03-24 16:11] JuergenSchreiber commented on #274
Hi @mperrin - thanks a lot, I'll have a look at this and also at the mentioned imager document.

[2020-03-31 14:14] JuergenSchreiber commented on #274
Hi @mperrin,

I have tried and hacked the function_calc_psf_format_output webbpsf_core.py and added the LRS kernel amplitude like this:

    def _calc_psf_format_output(self, result, options):
        """
        Add distortion to the created 1-extension PSF

        Apply desired formatting to output file:
                 - rebin to detector pixel scale if desired
                 - set up FITS

[2020-04-09 00:47] JarronL opened #350 "NIRCam coronagraph detector geometry"
In NIRCam's `detector` setter attribute, it always passes the imaging SIAF aperture names to `DetectorGeometry`. However, if a Lyot stop is in the pupil wheel, the focal plane shifts on the detector surface. So, in order for the `pix2angle` function to work correctly, we should probably provide the appropriate aperture name

[code]

Perhaps change to something like:

[code]

Also, need to update `

[2020-04-14 22:16] mperrin commented on #350
Hi @JarronL - I think this all makes sense, and if you want to put in a PR that would be great.

Full frame vs. subarrays is a good question; in general webbpsf has never yet strived to incorporate subarray coordinates in any full fidelity, leaving that for tools like pyNRC and MIRAGE.

For Lyot stops without occulting masks we could make reasonable defaults based on whether the module is SW or LW

[2020-06-08 14:33] Russell-Ryan opened #357 "Suspect rotation matrix"
HI... I was looking at optics.py with Robel in preparation of the work we will be doing for Roman, and I spotted lines 481 and 482 that look suspect.  Based on the lines, I'm guessing they are to implement a rotation in 2d space of some (x,y) pairs (perhaps a vector of pairs).  But, it appears that line 481 will compute a new x-coordinate and line 482 will use the new x-coordinate, which is probab

[2020-06-08 15:07] mperrin commented on #357
Oh good catch @Russell-Ryan and @robelgeda, at first glance this does look like a bug. And I see there's another instance of the same thing in the get_transmission method as well as in get_opd for the NIRISS grating.

Both of these should be refactored to use the poppy method `AnalyticOpticalElement.get_coordinates()` which (correctly) implements the rotation transformation and more (shifts, tilts

[2020-06-08 15:10] mperrin commented on #357
BTW, it's probably worth mentioning that the I've had some lingering concern on the NIRISS SOSS grating model, since I'm not 100% sure we ever fully validated how well the output PSFs correspond to real test data from the hardware. So I am not entirely surprised to see that something slipped through the cracks here...

[2020-06-08 15:52] robelgeda opened #358 "Change Naming: WebbPSF WFIRST -> Roman"
- [ ] Update class names

- [ ] Update documentation

- [ ] Make the old classes available

[2020-06-16 14:33] mperrin opened #363 "Rename 'master' branch to 'stable'"
'master' terminology is outdated. See https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/ and related.

'stable'  and 'develop' should be what we use here.

[2020-06-23 16:46] rmjarvis commented on #334
Very sorry for the long delay getting back to this.  I'm now working on this again.

I've now downloaded the pysynphot files, and that let things get farther at least, but I'm still getting an error.  The new error is now:
[code]
I note that the warning about upgrading pysiaf seems to be spurious.  Or at least conda thinks everything is up to date:
[code]
I'm not as sure about the warning re locat

[2020-06-26 20:41] #363 closed, assigned to mperrin

[2020-06-26 20:41] mperrin commented on #363
Done.

[2020-06-26 20:41] mperrin commented on #350
Closed by PR #351

[2020-06-26 20:42] mperrin commented on #348
Closed by #349

[2020-06-26 20:42] #338 closed, assigned to nobody

[2020-06-26 20:43] mperrin commented on #334
Hi @rmjarvis  - my colleagues @robelgeda and @Skyhawk172 should be able to help you with this.

[2020-06-26 20:44] mperrin commented on #333
Hi @robelgeda - wanted to follow up again about this issue you self-reported. Is this still an open concern?

[2020-06-26 20:44] #313 closed

[2020-06-26 20:45] mperrin commented on #307
Closed by #337

[2020-06-26 20:45] #307 closed

[2020-06-26 20:45] mperrin commented on #301
Done in #309

[2020-06-26 20:45] #301 closed

[2020-06-26 20:46] mperrin commented on #276
Fixed in the 0.9.0 data release.

[2020-06-26 20:46] #276 closed

[2020-06-26 20:46] mperrin commented on #271
Done.

[2020-06-26 20:46] #271 closed

[2020-06-26 20:47] mperrin commented on #220
Fixed by #362

[2020-06-26 20:47] #220 closed

[2020-06-26 20:50] mperrin commented on #180
This all was implemented in PR spacetelescope/webbpsf#283

[2020-06-26 20:50] #180 closed

[2020-06-26 20:50] mperrin commented on #179
This all was implemented in PR #283

[2020-06-26 20:50] #179 closed

[2020-06-26 20:51] mperrin commented on #56
GUI depreciated; wontfix.

[2020-06-26 20:51] #56 closed

[2020-07-06 19:03] rcooper295 opened #373 "Change mask file MASK_NRM.fits.gz used for NIRISS AMI PSFs"
I made a new version of the pupil mask image to be used for NIRISS AMI PSFs. I have tested this file with WebbPSF by replacing the existing file in the webbpsf-data/NIRISS/optics directory of the data files and comparing it to the equivalent analytically simulated PSFs (using ImPlaneIA software). I found maximum differences of a few x 10^-5 from the analytically simulated PSFs when both are normal

[2020-07-14 03:57] rmjarvis opened #374 "Pupil plane orientation for Roman Space Telescope"
I have a question about the pupil plane files hosted here: https://roman.gsfc.nasa.gov/science/Roman_Reference_Information.html

Basically, which way is up?

Are they oriented so that up is the Observatory FOV +Z direction?  (Towards the sunshade.)
Or is up is the +y direction on the WFC SCAs, which is 60 degrees rotated from the observatory FOV direction?
Or something else entirely? (Although I s

[2020-07-14 12:53] #350 closed, assigned to nobody

[2020-07-14 12:55] #348 closed, assigned to nobody

[2020-07-14 12:59] mperrin commented on #199
GUI has been deprecated; wontfix.

[2020-07-14 12:59] #199 closed

[2020-07-14 13:37] mperrin commented on #314
Not directly related to WebbPSF; out of scope for us to do anything on.

[2020-07-14 13:37] #314 closed

[2020-07-14 13:39] mperrin commented on #243
This file was added at some point in the past. Not sure when but in any case it's not missing now.

[2020-07-14 13:39] #243 closed

[2020-07-23 15:29] ccossou opened #376 "Jitter for coronographic observations"
Context: I'm doing MIRI Coronograph runs with webbpsf.

As far as I understand, jitter is modeled as a simple convolution by a gaussian (of 7mas by default). This is not correct for a coronograph (at least not the 4 coronograph of MIRI but I'm pretty sure this is also valid for any coronograph).

While this works for imager observations, a coronograph is not linear and this convolution doesn't mak

[2020-07-24 19:17] Skyhawk172 commented on #374
I checked with our colleagues at Goddard and, based on some Code V and Zemax modeling, they confirmed that the pupil FITS files available online are in the focal plane array coordinate system. So that would correspond to your second option. There should be no rotation or flip needed. I will look into it some more, but I hope that helps for now.

[2020-07-24 19:19] mperrin commented on #374
Thanks for checking this Charles.

Should we perhaps add a note with this information to the Roman docs page at https://webbpsf.readthedocs.io/en/latest/wfirst.html?

[2020-07-24 19:39] rmjarvis commented on #374
Great!  Thanks very much for the info.

[2020-08-06 14:37] marcio-melendez commented on #373
@rcooper295 @mperrin I reviewed the new NRM file and compared to the old one. Great work, it is amazing that such small difference on the edges of the hexagons mask can improve the science goals by that much. I think this could be a great addition to WebbPSF the way it is now, however, I wanted to point out a couple of small details:
1) The new mask is in float32 whereas the old one is float64, do

[2020-08-18 16:21] PatrickOgle opened #379 "Update install instructions for new conda environment"
The first command recommended to create a new webbpsf environment wreaks havoc with conda
channels (https://webbpsf.readthedocs.io/en/latest/installation.html, under 'Installing with conda'):

$ conda config --add channels http://ssb.stsci.edu/astroconda
$ conda create -n webbpsf-env webbpsf
$ source activate webbpsf-env
-----------------------------

After running the above 'conda config' command

[2020-08-18 16:24] PatrickOgle commented on #379
@mperrin :  This issue is important to resolve soon, for JWST Cycle1 proposers.

[2020-08-18 16:37] mperrin commented on #379
@shanosborne can you take a look at this one please - I think you may understand the conda infrastructure a little better than I do. And if there's a preferred way to specify this in the install instructions you may want to make sure it's consistent across the various INS tools.

Thanks @PatrickOgle

[2020-08-18 17:07] shanosborne commented on #379
Switching our recommended command from `add` to `append` seems fine to me. `Conda` will search for a package in each of the channels going from the highest priority to the lowest priority, but since `webbpsf` only exists in the `astroconda` channel, it should always find the right package. We could give people the option of choosing `add` or `append` in our docs but that may be unnecessarily compl

[2020-08-18 17:11] mperrin commented on #379
So we currently follow what the astroconda instructions say to do? In that case I don't understand @PatrickOgle's statement that this breaks the ability to create new conda environments. Surely it's not the case that the regular astroconda instructions prevent the creation of new conda environments. Right?!?

[2020-08-18 17:20] shanosborne commented on #379
That's what it looks like to me. The astroconda docs say that users should "append" the astroconda channel, but the code they give is `conda config --add`. Maybe the astroconda team has gotten comments like this before, or maybe this issue is a rare event and is just a problem within `conda` - I'm really not sure.

[2020-08-18 17:58] shanosborne commented on #379
@PatrickOgle - thinking about this more, I think your issue is more related to a possible bug in your conda setup or maybe a problem with astroconda being added to the channels. I can open up an issue with astroconda and ask them if they've seen this behavior before from people following their installation instructions

[2020-08-18 18:52] rendinam commented on #379
@PatrickOgle , could you please provide the version of conda you are using? I am unable to reproduce the error on Linux with conda `4.8.4` or Macos using conda `4.8.0`. I have verified that having the Astroconda channel as highest priority in the list of channels along with `conda-forge` and the defaults channel entries does not prevent the creation of new environments, including a `webbpsf` envir

[2020-08-18 20:18] PatrickOgle commented on #379
conda version : 4.8.4
MacOS

[2020-08-31 18:21] rcooper295 commented on #373
Sorry, this notification got buried in my inbox!
1. I can very easily re-make it as float64 for consistency; I also don't know if it matters.
2. I used one of the institute's linux servers to run the code that makes it because it is much faster, thus the non-functional email. I'll manually go in and change that to my normal institute email.
I will send the re-revised mask file to @mperrin (unless

[2020-08-31 18:39] mperrin commented on #373
Float64 vs float32 will make no significant difference - I don't see any benefit to put any effort into redoing that.   Changing the email address in the file is easy enough, though I would guess anyone who tried emailing you `@witserv1` could easily enough guess the correct address without much difficulty. If you do want to change that then feel free to email the updated file to me or Marcio, or

[2020-09-02 14:35] rcooper295 commented on #373
I changed the author name and put the file at:
/ifs/jwst/wit/niriss/rcooper/MASK_NRM.fits.gz
Thanks!

[2020-09-09 19:17] eteq opened #380 "Have a way to suppress the data files missing error message"
This is probably related to #266, but I didn't see it explicitly so I'm raising it as a distinct issue:

When I do, say, the following:
[code]

I get an `OSError` about the data files being missing, which is quite sensible.  However, at the same time *even if I catch the exception*, I see a big ``***********  ERROR  ******  ERROR  ******  ERROR  ******  ERROR  ***********`` message.  This is probl

[2020-09-09 19:22] mperrin commented on #380
Agreed! Good suggestion. Seems reasonable to include this text in with the exception as you suggest.

[2020-09-14 15:58] kjbrooks opened #381 "Broken link to thermal slew notebook in version history in read the docs"
Laurent Pueyo pointed out to me that the link to the notebook for calculating the OPDs for a thermal slew change is broken on this page:  https://webbpsf.readthedocs.io/en/latest/relnotes.html?highlight=thermal_slew#version-0-9-0

It looks like the link given does not include the special characters to indicate spaces between each word.
This is the link given: https://github.com/spacetelescope/webb

[2020-09-26 01:32] JarronL commented on #376
Perhaps you could run some MIRI 4QPM simulations with `jitter=None` with a number of PSF offsets such that the offset distribution is representative of a 7mas jitter model, then take the average. Then back out the convolution kernel that would be necessary to get that result if you started from the perfectly centered `jitter=None` PSF.

[2020-09-28 20:07] Skyhawk172 opened #384 "move_sur function in opds.py needs to apply clocking move"
The call to self.move_seg_local needs to also have the "clocking=update.moves['CLOCK']*sign" argument.

[2020-09-30 13:09] mperrin opened #386 "Deprecate jwxml"
See https://github.com/mperrin/jwxml/issues/14 where I propose deprecating the old jwxml package and moving part of its code into webbpsf:

Historical note - the jwxml code actually originally started out here in webbpsf (commit 377d135, back in 2013), then over time got split out to a submodule, then eventually to its own package (PR #136 back in 2016). We did that because the SIAF parsing code w

[2020-09-30 13:33] Skyhawk172 commented on #386
That makes sense to me. I concur.

[2020-10-01 12:18] shanosborne commented on #386
@mperrin Yes I can work on this. What time frame were you thinking of for getting this implemented?

[2020-10-01 12:23] mperrin commented on #386
It’s not urgent but it’s also a relatively small scope task, so no reason to let it drag out too long. Within this next month?

[2020-10-02 08:36] ccossou commented on #376
My point was not really to find a way to simulate jitter, but rather deactivate this webbpsf functionality for all coronagraphic images because it doesn't make any sense.

[2020-10-02 13:36] mperrin commented on #376
Hi @ccossou, for sure you’re correct that the convolution model doesn’t rigorously apply to coronagraphic images with the star occulted by the central spot or by the FQPM. But on the other had it _does_ apply to off-axis coronagraphic PSFs, for instance the PSF of a companion. Both cases are valid. On the other hand an off axis companion right on one of the FQPM quadrant edges is also not a simple

[2020-10-02 13:37] mperrin commented on #376
I should add, if you want to take a try at developing code to switch the convolution off automatically for the relevant subset of calculations, please do. We’re always very grateful for any code contributions and improvements via pull requests on here! Thanks for raising this point in conversation.

[2020-10-02 13:47] ccossou commented on #376
Thanks for your comments. To be honest, I did not consider the case of an off-axis source.

I don't have time at the moment to do this pull request but will keep that in mind in the future.

Thanks both for your time. Closing.

[2020-10-02 13:47] #376 closed, assigned to nobody

[2020-10-05 13:49] Skyhawk172 opened #387 "Coma/distortion observed in Global Alignment (single-segment mode)"
Observed a slight coma / distortion rather than maintaining GA image array shape perfectly. Hypothesis - result of oversimplification in MIRAGE psf gen for the segment offsets due to SM motion.

[2020-10-05 18:10] mperrin commented on #387
This will be addressed in improvements in Webbpsf to save the piston, tip, tilt Zernike terms as header keywords (to be rolled into #378), and improvements in MIRAGE psfs/segment_psfs to use those rather than the segment pose tilts in X, Y only.

[2020-10-11 14:00] Hoeijmakers commented on #222
Hi Marshall,

I was trying to get WebbPSF to run using the NIRSpec IFU but besides a handle in the filter_list, I discovered that it is not yet implemented. Is this still being worked on? Is the shape of the PSF expected to be qualitatively different in IFU mode compared to the filters that are currently supported?

Thanks!

[2020-10-13 01:13] mperrin commented on #222
Hi Jens @Hoeijmakers: The short answer is, there is still not much information available on any particular or expected differences in optical model between the modes. We do know there will be difference but do not have good models for them. You can think of it as, WebbPSF models the PSF as seen _at the IFU slicer entrance plane_ (which is also the MSA plane), but we do not have models for the effe

[2020-10-16 10:18] Hoeijmakers commented on #222
Hi Marshall @mperrin

Thanks for that extensive answer! I actually was playing around with the monochromatic wavelengths in combination with either of the available filters (F110W and F140X), but at G395-wavelengths. The monochromatic PSFs initially surprised me a bit, because they show a lot of fine diffraction patterns that are (of course) not apparent on the wideband PSFs the ETC appears to use

[2020-10-16 12:36] mperrin commented on #222
The choice of filter is irrelevant for monochromatic simulations. The filter model is only used for computing the relative spectral response weighting in broadband imaging modes, which for NIRSpec means only the target acquisition mode.

Since it’s an all-reflective instrument there is no wavelength dependent component expected or modeled in the wavefront error, unlike NIRCam which is refractive a

[2020-10-21 17:19] joel-roediger opened #388 "seg fault in call to calc_psf"
Hello,

Last week I was able to generate a NIRCam PSF image with webbpsf in a jupyter notebook.  When I returned to that notebook today, I find that the notebook kernel dies during the call to calc_psf.  Running the same set of commands within a python session, I get a segmentation fault during the call to calc_psf.  Here is a copy of the terminal output from the python session:

(astro) bash-3.2$

[2020-10-21 17:55] mperrin commented on #388
Hi @shanosborne, can you please lend a hand to @joel-roediger on investigating and debugging this? Thanks much.

[2020-10-21 18:46] shanosborne commented on #388
Hi @joel-roediger - I tried to run the same commands on my computer (also a Mac, in a new environment to match your python version, both in a python and ipython session) and I don't get a seg fault error. If you want to create an environment yaml file from your current environment and pass that along to me, I can try building an environment from that and see if I can duplicate your results that wa

[2020-10-21 22:47] joel-roediger commented on #388
Thanks @shanosborne.  Please see attached.

[environment.yml.txt](https://github.com/spacetelescope/webbpsf/files/5419027/environment.yml.txt)

[2020-10-23 13:23] joel-roediger commented on #388
Hi @shanosborne.  Any news?

[2020-10-23 13:30] shanosborne commented on #388
Hi @joel-roediger - sorry about the delay. I tried running the commands in an environment made with your `environment.yml` file and unfortunately I'm still not able to reproduce your error. I've been trying to think about what else to compare to try and duplicate your results (sadly, segfault errors are not very descriptive). @mperrin - any ideas?

[2020-10-23 13:41] mperrin commented on #388
Let's see. This does not particularly sound like a webbpsf issue since we can't reproduce it here. In any case webbpsf and poppy are both pure-python code (no embedded C extensions etc) so it's nearly impossible for them to cause a segmentation fault; not unless there's a deeper issue in one of the lower-level libraries being used, or an installation issue in your environment there that we can't r

[2020-11-18 19:40] #386 closed, assigned to nobody

[2020-12-02 19:34] mperrin opened #393 "Update pupil segment file"
The data file `JWpupil_segments.fits` lookup table for segment locations should be updated with one that is more precisely pixel-perfect consistent with the Rev W OPD arrays and OTE pupil geometry (there are small subtle pixel-level discrepancies in the older file currently used, which didn't properly account for gray pixels at segment edges).

Turns out I actually made an updated version of this

[2020-12-03 14:11] mperrin commented on #393
"New" pupil file was put in the data files master location on central store.

[2020-12-09 19:58] AldenJurling opened #394 "move_segment_local discards translation"
The translation handling in [move_seg_local()](https://github.com/spacetelescope/webbpsf/blob/develop/webbpsf/opds.py#L1427) doesn't look correct to me:
[code]

For a call like this:
[code]
`radial` is `None`, so we'll take the first branch, and `xytrans` and `ytrans` are not `None`, and we're an `A` segment, so we'll do
[code]
and discard `xtrans`.
I cant see any path through the formation of `up

[2020-12-09 20:14] AldenJurling commented on #394
Note that [move_sur()](https://github.com/spacetelescope/webbpsf/blob/develop/webbpsf/opds.py#L1745) takes this code path. I'm not sure if that method is in the rehearsal sim path for OTE  or not.

[2020-12-11 05:29] mperrin commented on #394
Hi @AldenJurling, you're 100% correct there is no code path through this function that passes both x and y translation through. But there's a deeper reason rather than what's just in the code in this function: the azimuthal translation degree of freedom doesn't have any influence function model at all for the JWST WSS code. No influence for x translation, indeed.

We never control this degree of f

[2020-12-11 14:53] AldenJurling commented on #394
Thanks @mperrin. Putting this together with the local influence function coordinate systems you sent separately here kicked my brain back into gear.

![infl_coords](https://user-images.githubusercontent.com/5366461/101913529-1a271e00-3b91-11eb-87c4-ee7449928c7a.png)

If I'm thinking about this right: because the local coordinate system is constructed such that one translation degree of freedom is

[2020-12-11 15:46] mperrin commented on #394
Almost zero but not _quite_! At least, for finite non-infinitesimal moves.  The precisely zero mode is azimuthal translation plus a bit of clocking and radial translation. Together those three can indeed be clocking about the axis of the parent optic. That's what I was getting at with the statement about degeneracy with other modes.  But yes, to first order that simplifies to azimuthal translation

[2020-12-11 17:10] AldenJurling commented on #394
Oh, certainly: I was speaking in the sense of infinitesimal moves and partial derivatives, and interpreting the influence functions as partial derivatives. At the nominal segment location, the partial derivative of wavefront with respect to segment translation is zero. For any finite translation, there will be a small contribution. Which, I think could be shown via some trigonometry to be quadrati

[2021-01-06 20:29] #380 closed, assigned to shanosborne

[2021-01-20 23:39] mperrin opened #399 "Need to re-import influence function file using a more recent WSS IFM, to fix RoC inconsistency"
As discovered & discussed in WFTP10, there was a sign error in Ball's IFM for RoC, which they fixed a couple years ago but which wasn't yet propagated to WebbPSF. We should fix that in a new IFM.

Relatedly there's also some slight rotation cross-term in the tip tilts for the segments; this could also be fixed once Scott makes an updated IFM replacement.

More generally, the import script and tool

[2021-01-20 23:39] mperrin commented on #399
Note, a hack fix for this was added to https://github.com/spacetelescope/webbpsf/pull/392; but that's pretty much just a temporary work around for now in WFTP10.

[2021-01-25 19:35] Skyhawk172 opened #401 "Difference in assumed position between PySIAF and default detector position."
I noticed there is a half-pixel between the default detector position (e.g. NRCA3_FULL is set to 1024, 1024) and the PySIAF position, which puts it a (1024.5, 1024.5).  This was noted while working on the OTE Secondary Mirror Influence Function, where we define a `ote_control_point` (e.g. NRCA3_FULL, calculated using PySIAF's `reference_point`), and determine the angular separation to a field poin

[2021-01-25 21:17] mperrin commented on #401
Looking at this a bit closer, it's actually just that the detector position is always rounded to integer pixels:
[code]

I think when I originally wrote that code, I didn't think through whether or not there was a use case for having it as floats or not. In particular, these parameters don't control the sub pixel position of the source. While the PSF location can indeed be a sub pixel position, se

[2021-02-03 20:21] mperrin commented on #384
Closed by PR #385

[2021-02-03 20:21] #384 closed, assigned to nobody

[2021-02-04 13:51] mperrin commented on #394
No need for action on this issue - all is as it should be, as discussed back in December. Closing.

[2021-02-04 13:51] #394 closed, assigned to nobody

[2021-02-04 13:56] mperrin commented on #401
Not sure if any action is needed on this. I think not, unless we can identify some concrete impact of this that can't be worked around otherwise. I think the detector_position is intentionally always integer pixels and probably should remain that way?   Though perhaps we could convert it to float without any issue.

Perhaps what's needed is documentation to note the semantics of the detector_posit

[2021-02-04 14:02] mperrin commented on #306
This was done a while ago (see above commits) but we overlooked closing the issue then. Closing now.

[2021-02-04 14:02] #306 closed

[2021-02-04 14:04] mperrin commented on #246
This was (partly) addressed a long while ago, in PR #283, but still could be improved further, particularly for MIRI.

[2021-02-04 14:24] mperrin commented on #387
@Skyhawk172 can you confirm that this is fixed now? Via the combination of #392 and #398, and the associated PR in MIRAGE to use the updated header keywords for segment positions.

[2021-02-04 14:38] Skyhawk172 commented on #401
No objection.  The impact from the SM IF is negligible at the half-pixel level, no doubt about it.

[2021-02-04 14:52] mperrin commented on #358
Done via #400

[2021-02-04 14:52] #358 closed, assigned to nobody

[2021-02-04 14:54] mperrin opened #403 "Add the new K short filter to Roman WFI"
Add spectral information for the additional bandpass filter added to WFI in fall 2020.

[2021-02-09 21:07] mperrin opened #406 "MIRI coronagraphic propagation rotation speed improvement"
From benchmarking, MIRI coronagraphic propagations currently spend a surprising amount of time in the step for rotating the complex wavefront by 5 degrees. This is a significant bottleneck and takes 5 s out of a 10 s total propagation time in some of my testing right now.

This can be sped up dramatically because it's not necessary to rotate the zero-padding around the complex wavefront. Just remo

[2021-02-12 04:04] mperrin commented on #393
For the record, here's the version I had made a while ago in 2017 (incidentally, made while waiting around at JSC OTIS during the day we were running the Global Alignment demo on the hardware):

[JWpupil_segments_RevW.fits.zip](https://github.com/spacetelescope/webbpsf/files/5969323/JWpupil_segments_RevW.fits.zip)

That turned out to be not _quite_ precisely right, with a handful of pixels in a fe

[2021-02-18 05:38] JarronL opened #411 "object has no attribute '_extra_keywords'"
When trying run a very basic PSF calculation, `inst = webbpsf.MIRI(); hdul = inst.calc_psf()` (or any other instrument), WebbPSF chokes with the following error:

[code]

The issue appears to be that that `self._extra_keywords` dictionary never gets created. This property gets instantiated within the `get_optical_system()` method: https://github.com/spacetelescope/webbpsf/blob/fa1c1044445162a41aac

[2021-02-18 06:00] JarronL commented on #411
Doing a little more sleuthing, it looks like this is related to `_get_optical_system` being deprecated in the development version of both poppy and webbpsf in favor of `get_optical_system`. The development version of webbpsf sets `self._extra_keywords` within `get_optical_system`, but this function will never get called in my case, because the stable version of poppy's `calc_psf` function uses `_g

[2021-02-18 06:13] JarronL commented on #411
I think this somehow has to do with how `_get_optical_system` is being deprecated and the way in which one function calls the other, specifically related to the different versions (stable vs development). There's a subtlety here that I'm not quite understanding.

In any case, if I duplicate this code from poppy dev:
[code]

and place it in webbpsf's `SpaceTelescopeInstrument` class, the issue goes

[2021-02-18 11:50] mperrin commented on #411
Hi Jarron, the short answer is please upgrade to poppy 0.9.2 the current release. That’s what’s needed for the dev version of WebbPSF.

[2021-02-18 18:16] JarronL commented on #411
Yup, that worked. Thanks!

[2021-02-18 18:16] #411 closed, assigned to nobody

[2021-02-19 00:07] JarronL opened #412 "MIRI mask offsets (only partial implementation)"
Shifting the coronagraphic masks around (rather than the source) is convenient for generating PSFs centered in the output image. For MIRI, I see there are `coron_offset_y` and `coron_offset_y` parameters that can be used (similar to NIRCam's `bar_offset`). However, this appears to be only implemented for the FQPM1065 mask. Is this intentional? For instance:

[code]

If seems like the `make_fqpm_wr

[2021-02-22 16:30] mperrin opened #413 "Delete and remove deprecated GUIs"
These have long been deprecated and now's the time to remove them. Should be straightforward and quick.

- [ ] remove tkgui.py and wxgui.py
- [ ] remove any mention of GUIs from the documentation

[2021-02-23 14:13] mperrin opened #414 "Update GitHub URLs in Roman tutorial notebook"
In https://github.com/spacetelescope/webbpsf/blob/develop/notebooks/WebbPSF-Roman_Tutorial.ipynb near the very end, it has the URLs in my repo fork rather than the spacetelescope one:

These should be updated to the space telescope URLs.

[2021-02-24 13:54] mperrin opened #415 "WebbPSF model for MIRI "cross artifact" appears low compared to CDP"
The MIRI cross artifact (detector internal scattering effect) model in WebbPSF appears to be substantially lower than what's shown in the CDP PSFs. See plots below.  Found this in the course of modifying MIRISim to work with WebbPSF for OTE commissioning sims.

This is mostly relevant for the shorter wavelength PSFs (so, less relevant for coronagraphic science with MIRI but very relevant to OTE co

[2021-02-24 13:55] mperrin commented on #415
Code for the above plots:

[code]

[2021-02-24 14:02] mperrin commented on #415
Empirical correction factors to make WebbPSF agree with the CDP PSFs:
F560W: 3.587
F770W: 3.392
F1000W: 2.100
F1130W: 1.288
F1280W: 1.403

(The model amplitude is listed as 0 for all longer filters)

I have also just verified that if I compare cuts that _aren't_ right along the X axis (i.e. shifted up or down to avoid the bright part of the cross) then the CDP PSF and WebbPSF are in very good agre

[2021-02-24 14:51] merope82 commented on #415
Hi Marshall,

Alistair's estimates were really preliminary. George probably knows more
about the history of the modeling. You should check out our new paper on
the cross artifact. I was planning on running a large simulation and
generating more PSFs. I'll put it on my must to do list.

-A

On Wed, Feb 24, 2021 at 6:54 AM Marshall Perrin <notifications@github.com>
wrote:

[2021-02-24 14:55] merope82 commented on #415
Yes, we (Andras) can do better. However, it is important to understand the
time frame for getting improvements in as well as the fidelity needed.

- George

On Wed, Feb 24, 2021 at 7:51 AM Andras Gaspar <agaspar@arizona.edu> wrote:

--
George Rieke
Regents Professor of Astronomy and Planetary Sciences
The University of Arizona
933 N. Cherry Ave.
Tucson, AZ 85721
520-621-2832

[2021-02-24 15:17] mperrin commented on #415
In the short term (this week and next) we're working on simulations for the upcoming MIMF KDP practice, including the MIMF sensing data and PSF check data which for MIRI are both in F560W. Whether we want to try to improve this in any way before then, you all can tell me - If you (and/or Alistair) concur that what's currently in WebbPSF is sufficient for the purposes of that KDP, then no action ne

[2021-02-24 15:18] mperrin commented on #415
(BTW, is George on Github? Should we take this to email and loop him in, or are you happy to continue the discussion here?)

[2021-02-24 15:23] mperrin commented on #415
For my own reference here's a link to Andras' paper mentioned above: https://ui.adsabs.harvard.edu/abs/2021PASP..133a4504G/abstract

[2021-03-01 15:29] #401 closed, assigned to nobody

[2021-03-01 15:30] mperrin commented on #387
@Skyhawk172 can you confirm that this is fixed now? Via the combination of #392 and #398, and the associated PR in MIRAGE to use the updated header keywords for segment positions.

[2021-03-01 15:31] mperrin commented on #381
@kjbrooks can you pull request in the fix for this, please? Or else @shanosborne? Thanks much.

[2021-03-01 15:33] mperrin commented on #373
@obi-wan76 to follow up on this from last year, did @rcooper295's updated NRM mask ever make it into the webbpsf-data-source directory on central store?

[2021-03-01 18:05] #381 closed, assigned to kjbrooks

[2021-03-01 19:35] #415 closed, assigned to mperrin

[2021-03-02 18:09] Skyhawk172 commented on #387
Just to refresh my memory: this was observed when we moved the SM back and forth across nominal focus?  I can re-run a  subset of these observation to confirm we don't imprint coma/distortion onto those exposures.

[2021-03-03 14:30] mperrin opened #426 "WebbPSF's distortion model is really slow to compute - we should improve it"
It's always been the case since we added the distortion model that it's a slow part of the calculation, but I've only just recently realized _how_ slow. For typical use cases it's 75-95% of the computation time, totally dominating over the actual optical propagation.

I find myself often disabling the distortion model (add_distortion=False) in most of my own calculations because it's so painfully

[2021-03-03 15:53] grbrady commented on #426
Implementing a generalized distortion models using griddata is typically
very slow, so this is unsurprising.  The Delauny triangulation at the heart
of griddata is not particularly parallelizable by my understanding, as well.

Primary distortion is proportional to the cube of the field angle, and then
there are smaller higher order terms that most real systems have.  To
implement a single distorti

[2021-03-23 08:04] JarronL commented on #426
Right now, the `add_distortion` function uses `griddata` to transform from an **irregularly** gridded 'sci' coordinate array to **regularly** gridded 'sci' coordinate array. Instead, it would be much faster to use `RegularGridInterpolator` in place of `griddata`. To do this, we could start from the already regular 'idl' coordinates and interpolate onto the set of irregular 'idl' points that map to

[2021-03-23 23:21] JarronL commented on #412
Closed with #428

[2021-03-23 23:21] #412 closed, assigned to nobody

[2021-03-25 17:27] JarronL commented on #426
As @mperrin mentioned, we could also use scipy's [`affine_transform`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.affine_transform.html) function. If anyone knows how to convert pysiaf's polynomial coefficients into an affine transformation matrix, I could quickly write up a similar function and compare the results.

[2021-03-29 19:36] #426 closed, assigned to nobody

[2021-04-02 04:51] mperrin commented on #406
Done in poppy pr 394

[2021-04-02 04:51] #406 closed, assigned to mperrin

[2021-04-02 13:41] #413 closed, assigned to shanosborne

[2021-04-02 15:33] mperrin commented on #333
Hi @robelgeda, here's an old issue you reported last year. Is this still a concern or has it been fixed subsequently in one of your other updates? Unless I hear otherwise from you, I'm going to assume that this issue can be closed now.

[2021-04-02 15:36] robelgeda commented on #333
This has been resolved for those filters, this particular issue can be closed.

[2021-04-02 15:36] mperrin commented on #303
@shanosborne I can't quite tell if this old open issue is still applicable or not, or if you addressed it at some point in the last two years, perhaps in the commits on PR 294? Let me know if you think this issue should stay open now or not, please

[2021-04-02 15:40] mperrin commented on #315
@robelgeda Here's another quite old WFI issue, which I'm not sure if it's been addressed or not yet. Can you give an update on the status for this, please? @ariedel I realize this issue is now two years old but I think the same principle applies still that we would want a consistent API for both the JWST and Roman instruments.

[2021-04-02 15:42] mperrin commented on #334
This is an old issue from last year that wasn't closed. @robelgeda @Skyhawk172 can either of you comment on whether you were able to help @rmjarvis with this last summer? Should this issue remain open or can it be marked closed, please? Thanks.

[2021-04-02 15:43] mperrin commented on #336
@robelgeda and an issue you self assigned last year to update some dev docs. Do you have any intent to follow up on this? Worth keeping this issue open or not at this point?

[2021-04-02 15:43] shanosborne commented on #303
It looks like an `outdir` parameter was added to `CreatePSFLibrary` in PR 294, so this issue can be closed

[2021-04-02 15:45] mperrin commented on #388
Hi @joel-roediger, I wanted to follow up on this open issue from last fall. Were you able to get your calculation running in the end? Please let us know if there's anything more we can help with, or if it's OK for us to close this issue at this point. Thanks.

[2021-04-02 15:45] mperrin commented on #373
@obi-wan76 to follow up on this from last year, did @rcooper295's updated NRM mask ever make it into the webbpsf-data-source directory on central store?

[2021-04-02 15:50] rmjarvis commented on #334
I pretty much gave up on this.  Also on this issue: https://github.com/spacetelescope/roman_tools/issues/38

If anyone wants to help on either of these, I could get back to it.  But if you want to mark them both WillNotFix or at least WillNotFixUntilCovidIsOver that's fine.

[2021-04-02 17:20] #303 closed

[2021-04-02 17:20] #333 closed

[2021-04-02 17:23] mperrin commented on #379
@shanosborne wanted to check in and see if you think there's any more needed on this, since you were recently updating install docs in one of the other PRs. Is there more to do on this particular issue at this point?

[2021-04-02 18:44] shanosborne commented on #379
@mperrin This problem was more related to astroconda than to webbpsf. I opened an issue in astroconda-contrib and never head back, but either way I think this ticket can be closed.

[2021-04-02 21:21] robelgeda commented on #315
I am not sure if this is fixed actually. I think we need to make a `calc_psf` function for the roman instrument? If so, this needs to stay open.

[2021-04-02 21:25] robelgeda commented on #334
I am sorry this slipped by for so long. I will take a look at this and keep you posted.

[2021-04-02 21:26] robelgeda commented on #336
Yes I do, I thought this ticket be the last one since it would help to write the procedure as we go through them.

[2021-04-03 05:15] joel-roediger commented on #388
Hi Marshall,

I think it would be alright to close it.

Cheers,
Joel

On Fri, Apr 2, 2021, 08:45 Marshall Perrin, ***@***.***>
wrote:

[2021-04-05 13:07] #414 closed, assigned to robelgeda

[2021-04-07 17:31] robelgeda opened #443 "Update Roman Jitter value"
New Jitter value should be changed from 0.014 arcsec per axis to 0.012 arcsec per axis

[2021-04-07 17:55] mperrin commented on #443
👍

Would be good to add a brief statement or two about this to the Roman page in the docs, too.

[2021-04-07 20:08] ariedel commented on #315
I believe it is not fixed - webbpsf_core shows a custom calc_psf function that reads the distortion and then passes the rest of the parameters to JWInstrument; Roman has no such thing and directly runs the poppy calc_psf function.

[2021-04-13 21:36] rcooper295 commented on #373
I just checked the file at /grp/jwst/ote/webbpsf-data/NIRISS/optics/MASK_NRM.fits.gz and it is still the older version. I'm giving a short presentation about this at TIPS this week, so if at all possible it would be great to be able to say that the file is available for general use.

[2021-04-20 16:12] robelgeda opened #445 "Roman Coronagraph Instrument"
Rename CGI to "Roman Coronagraph Instrument" (Roman team request)

[2021-04-22 14:03] marcio-melendez commented on #373
@rcooper295 I don't have access to the file, under /ifs/jwst/wit/niriss/rcooper/MASK_NRM.fits.gz. In particular, I don't have access to /ifs/jwst/wit/niriss/. Can you share it some place else? Box? I can review and then copy to /grp/jwst/ote/webbpsf-data/NIRISS/optics/
Thanks!

[2021-04-23 16:54] rcooper295 commented on #373
I just shared the file on Box via your Institute email address, let me know if you are still unable to access it!

[2021-04-23 17:48] marcio-melendez commented on #373
Hi @rcooper295,
The file looks great. I am waiting from ITSD to grant me permission to write into /grp/jwst/ote/webbpsf-data/NIRISS/optics; As soon as I get it, I'll replace the mask.
Thanks!

[2021-04-28 15:05] marcio-melendez commented on #373
@rcooper295 I just updated the file under /grp/jwst/ote/webbpsf-data/NIRISS/optics/ . It is also updated in our data folder, thus it will be included in the next data product release for users outside stsci.

Thanks for this work and I apologized for the long waiting time.

[2021-04-30 19:09] mperrin opened #446 "bug in set_position_from_aperture_name"
Not sure what's going on here, but `nrc.set_position_from_aperture_name('NRCA3_FP1')` should set the position to (461, 1410) but that's not what's happening. Looks like it's getting reset by some other call...

[code]

[2021-04-30 20:05] mperrin opened #448 "Roadmap: OPD Analysis tools for flight and commissioning"
For use during flight commissioning and checkout, we will want to be able to do the following:

- [x] Load an OPD produced by the WAS into WebbPSF and generate PSFs for NIRCam, and compare back to the observed PSFs (optionally, backing out the NIRCam SI internal WFE from the input OPD)
- [ ] Update WebbPSF's model of OTE field dependence based on MIMF or CMIMF measurements; load an OPD measured fo

[2021-04-30 20:07] mperrin commented on #448
FYI @shanosborne, @obi-wan76, @Skyhawk172, @grbrady - let me know if you can think of other things we might want to use webbpsf for in flight which would require additional code development before then.

[2021-05-03 19:12] mperrin opened #453 "Migrate CI to somewhere other than Travis?"
@shanosborne - is there yet any clarity or direction from INS or elsewhere within ST about what the recommended/preferred CI platform should be, after Travis shuts down the free version?

[2021-05-03 20:58] mperrin commented on #266
Partly done in #454

[2021-05-04 12:48] shanosborne commented on #453
@mperrin, I have still heard no official announcement. Some people have said that Github actions will most likely be the recommendation, but that's not from anyone actually involved in making the decisions. I think we can probably switch over to actions and expect that it will be okay, it's up to us.

[2021-05-04 13:53] #446 closed, assigned to nobody

[2021-05-11 18:50] mperrin commented on #453
Done via #455

[2021-05-11 18:50] #453 closed, assigned to shanosborne

[2021-05-11 18:50] #373 closed, assigned to nobody

[2021-05-26 04:11] aggle opened #460 "Segment mask file name convention mismatch between opds.py and central store directory"
In `opds.py`, the OPD class expects a segment mask file of the form `JWpupil_segments_RevW_npix{self.npix}.fits.gz`. On central store, these are kept in the folder `/grp/jwst/ote/webbpsf-data/` (which is what I have for WEBBPSF_PATH) but have the naming convention `jwst_pupil_RevW_npix{NNN}.fits.gz`. The timestamp on the `jwst_pupil*` files all comes from May 14; is it possible that this is just a

[2021-05-26 19:20] mperrin commented on #460
Recent changes in this part of the code and data, which have not yet been fully released. @kjbrooks or @obi-wan76 can you help @aggle get this sorted out, please?   There should be _both_ `jwst_pupil_[etc]` and `JWpupil_segments_[etc]` files in the data folders.

[2021-05-26 19:21] mperrin commented on #460
FYI to Jonathan @aggle: The `jwst_pupil` files are overall "which pixels are transmissive or not in the pupil?". The `JWpupil_segments` files are more specific "which pixels are this one particular segment number N, for N from 1-18?"

[2021-05-26 21:03] kjbrooks commented on #460
@aggle Did Marshall answer this issue for you, or did you have an error when running code?  To expand on what Marshall said, the `JWpupil_segments` files are the JWST pupil but with each segment filled with a different number, that number helps us identify the different segments. The `jwst_pupil` files are a JWST pupil mask, where the segments are all ones, and the gaps, struts, and surrounding ar

[2021-05-27 14:22] aggle commented on #460
Thanks for the explanations! I see that they JWpupil* files are there now (looks like they were created yesterday). Apologies for the commotion.

Jonathan

From: Keira Brooks ***@***.***>
Reply-To: spacetelescope/webbpsf ***@***.***>
Date: Wednesday, May 26, 2021 at 5:03 PM
To: spacetelescope/webbpsf ***@***.***>
Cc: Jonathan Aguilar ***@***.***>, Mention ***@***.***>
Subject: Re: [spacetelescope/

[2021-05-27 14:55] shanosborne commented on #460
@aggle @kjbrooks - To add some clarity, you were right when you submitted this ticket that those files were missing. But in a fun coincidence, yesterday I was un-relatedly updating the data in the `/grp/jwst/ote/webbpsf-data/` central store location and added those files.

If you find that any other data files are missing or are causing problems, please let me know and we'll get them sorted out.

[2021-05-27 19:08] JarronL commented on #460
@shanosborne Do these files exist somewhere publicly? I've been running the development versions of webbpsf on my local machine, so it might be useful to get pre-release access to these files? Currently in my `webbpsf_data` directory:

JWpupil_segments_RevW_npix1024.fits
JWpupil_segments.fits

jwst_pupil_RevW_npix1024.fits.gz
jwst_pupil_RevW_npix2048.fits.gz
jwst_pupil_RevW_npix16384.fits.gz

[2021-05-27 19:52] shanosborne commented on #460
Hi @JarronL, Yes you should be able to get the new data from here: https://stsci.box.com/s/g8nq6j1lk10ml7tyxxn28rbl40h1zky2

[2021-06-16 16:48] robelgeda opened #465 "WebbPSF-Roman Cycle 9 Update"
WebbPSF Data:

- [x] Update new Zernike phase NOLL coefficients
    - [x] WFI - (Sheet Tab:  `WIM`)
    - [x] GRISM - (Sheet Tab:  `WIM-GRISM`)
    - [x] PRISM - (Sheet Tab:  `WIM-PRISM`)

- [x] New filter called the K filter (Sub-issue #403)

- [x] Filter bandpass info.

- [x] Update Pupil Masks
    - [x] Each SCA has its own copy
    - [x] 4 types of masks (Prism and Grism have their own Pupils

[2021-06-18 17:50] robelgeda commented on #465
Histogram of Wavelengths and number of data points
[code]

 `0.76,  0.927,  2.0` are repeated

[2021-06-18 18:49] ojustino commented on #465
Comments after meetups:
- We had questions about the total number of WIM Zernike entries (detailed in @robelgeda's previous post).
- New SCA range has changed ("SCA Position" columns); we should check if this necessitates new code.

[2021-06-24 17:15] robelgeda commented on #465
The Zernike wavelength range is not covering the new filter

[2021-07-15 20:39] robelgeda commented on #443
https://wfirst.ipac.caltech.edu/sims/Param_db.html

[2021-07-19 22:28] ojustino opened #470 "Add WFI to minimal data files?"
Currently, `make-minimal-datafiles.py` only supports the following instruments:
`insts = ['FGS', 'NIRCam', 'NIRSpec','NIRISS','MIRI']`

Should WFI be included in the list?

[2021-07-20 18:17] mperrin commented on #470
No change is needed, except maybe some clarifying comments in that script. That list of instruments isn't the list of instruments that is included; rather it's a list that gets iterated over (just below in that script) to trim out extra OPD files per each instrument. That's only needed on the JWST side because Roman doesn't have multiple OPDs in the models.

If you look in the actual file `minimal

[2021-07-20 18:17] #470 closed, assigned to mperrin

[2021-07-21 15:20] ariedel commented on #332
@JarronL I had the impression that somewhere else in the code WebbPSF uses those variables to check which detector to apply if it's not otherwise specified.

[2021-07-21 15:29] mperrin commented on #332
Shoot, this one fell through the cracks, didn't it. Apologies @ariedel, not sure how that happened.  We should see what we can do to resolve this promptly now.

[2021-07-21 15:32] mperrin commented on #332
Does the existing option `nrc..auto_channel = False` not suffice for this case?

[2021-07-21 16:17] ariedel commented on #332
Actually, I think @JarronL is correct and the wavelengths are only used to validate a setup, not choose it.

[2021-07-30 13:58] mperrin commented on #315
@ojustino - here is another Roman-related webbpsf issue. I think this is a relatively straightforward small fix to ensure a consistent API between the Roman and JWST classes, but Robel never got around to it. Now that you're picking up the Roman side of things this would be good to add into the plan (though not as high a priority as the Cycle 9 stuff, of course).

[2021-07-30 14:00] mperrin commented on #334
@ojustino - here is another Roman related issue, a bug report, but which Robel never got around to. Now that you're picking up the Roman side of things this would be good to add into the plan (though not as high a priority as the Cycle 9 stuff, of course).

[2021-07-30 15:16] mperrin commented on #336
@ojustino here is a (pretty vague) issue which Robel self-assigned. I'm inclined to just close this with no further action, since I'm not sure what exactly Robel intended with this. But if you think it's worth doing any work to update the dev release notes, let me know; otherwise I'll go ahead and close this.

[2021-08-04 02:28] robelgeda commented on #336
Just saw this in email. This was a ticket to add to the instructions that we need to upload to box. Since that is already in the docs and since we no longer wish to upload things manually to PyPi, this ticket can be closed.

[2021-08-10 05:29] #336 closed

[2021-08-17 13:44] skendrew opened #477 "LRS Grating -> Prism"
This may be irrelevant to the code, but I wanted to flag that the MIRI LRS does not have gratings, it uses a double prism for dispersion. I'm only just digging into the code to see how it works exactly for LRS, so maybe this is just a vocabulary issue that has no impact on the code (as you don't model the dispersion), but I wanted to flag it in case you had made any grating-specific assumptions.

[2021-08-17 13:49] mperrin commented on #477
Thanks @skendrew - I think you're correct this is a vocabulary issue with no impact on the code. Should be easy to fix and we will do so.

I'll be happy to discuss how the LRS PSF is modeled if you have any questions, and would be glad to take any suggestions for improvements, for sure! :-)

[2021-08-17 14:06] mperrin commented on #477
Having looked at the code now I can confirm it doesn't have any impact at all on the optical calculations. It's just a matter of what is the string value to set `miri.filter` equal to in order to invoke the model for the LRS pupil stop at the filter wheel.

If you concur I'll make that just `"P750L"` rather than `"P750L LRS grating"`?  (The existing, incorrect string with "grating" will also remai

[2021-08-17 19:04] skendrew commented on #477
That works, thanks for looking into it!

[2021-08-25 09:10] ccossou opened #481 "MIRI Lyot focal plane mask seems incomplete"
I've tried to make an attenuation map of all MIRI coronagraphs by moving a source position in each and every pixels of the detector for each coronagraphs.

For the Lyot Coronagraph, I ended up with a weird map, the "vertical bar" (for lack of a better word) was not going from top to bottom, but rather a small box around the center.

Maybe I'm missing something in my input parameter that show there

[2021-08-25 14:10] mperrin commented on #481
Hi @ccossou, good catch. I agree this is not as intended! I think you may be the first person to do full field of view sims for this coronagraph and thus encounter this issue.

I looked at this briefly and realized the issue is that the poppy.BarOcculter class has a default size of 10 arcsec, and the use of this in the MIRI clas doesn’t specify any other length. It will be easy to fix this with a

[2021-08-25 15:57] JarronL commented on #481
Thought I had made a similar PR earlier this year, but apparently it never got submitted. We found the same issue when developing the `webbpsf_ext` package for use with MIRISim. Indeed, adding `height=31` to extend the bar to the edge of the field was the solution. If you would like, @mperrin, I can make the pull request.

[2021-08-25 16:32] JarronL commented on #481
Add pull request #482.

[2021-09-03 12:39] ccossou commented on #481
Juste a note to confirm that this fixes the issue, and the bar is extended over the full FoV with the fix (though I used height=32)

[2021-09-10 16:16] #481 closed, assigned to nobody

[2021-09-12 21:43] mperrin opened #487 "Distortion model is insufficiently flux-conserving in some cases"
The distortion model based on SIAF can in some cases result in PSFs with normalized intensity > 1:

[code]
outputs:
[code]

In other words, the oversampled PSF is < 1.0 (as expected!), but the oversampled _and distorted_ PSF now appears to have flux greater than unity. This is unphysical and must be incorrect.

It's not immediately clear how best to fix this: distortion is not strictly speaking fl

[2021-09-24 23:30] ojustino commented on #334
Hi @rmjarvis, I tried taking a look at this issue but couldn't find `wim_psf_basic_f0v_even.py` to run it myself. Is it supposed to be at the NASA page you linked in the original post? I didn't see it in an archived version of that page or the [current iteration](https://roman.gsfc.nasa.gov/science/Roman_Reference_Information.html).

[2021-09-25 22:16] rmjarvis commented on #334
It looks like they now live here: https://roman.gsfc.nasa.gov/science/WFI_technical.html
In the zip file called wim_psf_f0v_fullset.zip
Here is a direct link: https://roman.gsfc.nasa.gov/science/2020-01/wim_psf_f0v_fullset.zip

Since it's been a while, I figured I should at least confirm that the problem still exists with current versions of things, so I updated everything to the latest versions i

[2021-09-25 22:16] #334 closed

[2021-12-03 20:57] #477 closed, assigned to nobody

[2021-12-07 07:06] #487 closed, assigned to nobody

[2021-12-07 07:06] mperrin commented on #487
no action needed on this now in WebbPSF. Handled in MIRAGE PRs.

[2021-12-07 07:08] #388 closed, assigned to shanosborne

[2021-12-07 07:08] #387 closed, assigned to nobody

[2021-12-07 07:09] #379 closed, assigned to nobody

[2021-12-08 16:08] #315 closed

[2021-12-08 16:30] #403 closed, assigned to ojustino

[2021-12-08 16:30] #443 closed, assigned to nobody

[2021-12-08 16:30] #465 closed, assigned to Skyhawk172, ojustino

[2021-12-09 16:02] mperrin opened #511 "Model NIRCam MASKLWB offsets to cross-check handling of broadband filters"
See discussion on #509

[2021-12-09 19:29] #374 closed, assigned to Skyhawk172

[2021-12-09 19:35] mperrin opened #513 "High spatial frequency WFE maps for Roman OTA?"
@AldenJurling, a quick question for you: Is there a publicly available file for the Roman OTE high spatial frequency WFE?

Right now for the Roman WFI model in webbpsf, we have Zernike models for the low spatial frequencies, up to Z22. But no good information on the high spatial frequencies. As a proxy or placeholder, we use a version of the HST primary's high spatial frequencies, assuming that th

[2021-12-09 20:02] AldenJurling commented on #513
I will respond in email land where I can loop in the people who have more definitive answers than me, but are not on GitHub, then one of us can summarize here.

[2021-12-09 20:31] mperrin commented on #445
@ojustino I found this old Roman issue which Robel did not deal with, asking to rename the class in WebbPSF away from "CGI". I don't know if this is a priority for right now or not (we barely support the Roman Coronagraph in this package), but I do know they've tried to deprecate the use of 'CGI'.

It would be straightforward to refactor this to rename the instrument class from `CGI` to `RomanCoro

[2021-12-09 20:32] mperrin commented on #290
@shanosborne, @ojustino I think this may be complete? Can this issue be closed?

[2021-12-09 20:33] mperrin commented on #289
This is an old stale issue. I think we should perhaps just close it, as no one has complained on this lately. But maybe its worth a quick benchmark test. What do you think @ojustino?

[2021-12-09 20:33] #156 closed

[2021-12-09 21:15] shanosborne commented on #290
Yep, looks like the PR back in 2019 fixed this, and I just used the wrong wording so it did auto-close the issue when the PR merged.

[2021-12-09 21:54] ojustino commented on #445
@mperrin I haven't touched any code related to the coronagraph, but a rename would be a quick, cosmetic fix.

One thought from a usage perspective is that the proposed names here are closer in style to the telescope-focused instrument classes (e.g., `JWInstrument`, `RomanInstrument`) than the instrument-focused classes that inherit from them (e.g., `MIRI`, `NIRCam`, `WFI`). I assume most users wou

[2021-12-09 22:54] nasavbailey commented on #445
Thanks for changing away from CGI.  RomanInstrument + Coronagraph or RomanCoronagraph are both fine, or if there's another permutation that fits with your naming convention, that's good too. It's fine to use just Coronagraph instead of Coronagraph Instrument when there's a desire for a shorter name.

[2021-12-10 05:59] ojustino commented on #289
I think it's worth a test, but I don't think it should hold up a 1.0.0 release. I can add it to my to-do list for the future.

[2021-12-10 07:46] robelgeda commented on #445
Might be worth calling it RCI given the other acronyms.

[2021-12-10 13:08] mperrin commented on #445
Thanks Robel for the suggestion, but as far as I know it turns out nobody ever calls it "RCI", so it would likely add confusion rather than add clarity to use that here... We're going to go with "RomanCoronagraph" in this case, following Vanessa's advice above.

[2021-12-10 13:11] #393 closed, assigned to mperrin

[2021-12-10 13:12] #252 closed

[2021-12-10 13:13] #246 closed

[2021-12-10 13:13] #235 closed

[2021-12-10 13:14] #71 closed

[2021-12-10 13:14] #51 closed

[2021-12-10 13:15] #223 closed

[2021-12-10 13:59] #445 closed, assigned to ojustino

[2021-12-10 18:04] nasavbailey commented on #445
Good call on RomanCoronagraph. Thanks! Unfortunately, there is no officially-sanctioned abbreviation. CGI can still pop up occasionally when it's really impossible to fit the full word, but otherwise we're supposed to stop using it. I probably have some lingering repos that are in violation myself...

[2022-02-15 13:44] shanosborne opened #531 "Fix bad link in software requirements doc"
On https://webbpsf.readthedocs.io/en/latest/installation.html#software-requirements, the line "See [the environment.yml specification file](https://github.com/spacetelescope/webbpsf/blob/develop/environment.yml) for the required package dependencies." should now point to the requirements.txt file

[2022-05-12 16:06] tddesjardins opened #547 "Python supported versions"
The installation instructions simply say that Python 3.7+ is required, but I tried running this notebook (https://github.com/spacetelescope/roman_tools/blob/develop/notebooks/WebbPSF-Roman_Tutorial.ipynb) with Python 3.10.4, and I received the following exception:

[code]

Testing this with 3.7.13 does not produce this exception. Python 3.7 does, however, give me a different exception from `poppy`

[2022-05-12 19:42] tddesjardins commented on #547
Sorry, I now see that this is being documented at https://github.com/spacetelescope/poppy/issues/502. I will comment on that issue. This one can be closed.

[2022-07-19 03:14] Vikramb1 opened #562 "Installing via pip"
I have tried to install webbpsf via pip, however I can seem to get the tar file recognized using wsl. I exported and stored it here: mnt/c\Users\vikra\webbpsftest. On wsl, I then did this:  export WEBBPSF_PATH=$HOME/webbpsftest/webbpsf-data. When I cd to When I type echo $WEBBPSF_PATH it is showing the correct path. However when I try and import the module I get an error that I am missing the data

[2022-08-10 11:37] keflavich opened #568 "Empirical PSFs?"
Is there any plan to include on-sky / in-orbit PSFs into WebbPSF?  Looking at some of the early release data, I see significant differences between the effective PSF and the theoretical ones here, which I think is expected. I'd like to know if there are better PSFs available than what I derived from an image.

[2022-08-10 12:27] mperrin commented on #568
Hi @keflavich - please see this page for examples of using some recently-added code to access flight wavefront sensing data, and get better matched simulations contemporaneous to any particular science data:
https://webbpsf.readthedocs.io/en/latest/jwst_measured_opds.html

For now this requires using the latest development version of WebbPSF from GitHub. This plus some other additions will end up

[2022-08-10 12:39] keflavich commented on #568
That's perfect.  I just failed to find that... I think because I didn't realize what OPDs are so I ignored that item in the sidebar.

[2022-08-10 19:18] #547 closed, assigned to nobody

[2022-08-10 20:04] mperrin opened #569 "Roadmap: In Flight Performance Updates"
- [x] LOS jitter to 1 mas. Done in  https://github.com/spacetelescope/webbpsf/pull/559
- [x] Add ability to use measured OPDs. Also in https://github.com/spacetelescope/webbpsf/pull/559
- [x] Add new OPD representing typical/average in flight alignment in early cycle 1
  - [x] Update data files distributions
  - [x] Make that new OPD the default OPD
- [ ] Update pupil model for measured obscuratio

[2022-08-10 20:06] mperrin commented on #531
Closed in #531 and #532

[2022-08-10 20:06] #531 closed, assigned to nobody

[2022-08-12 15:02] keflavich opened #570 "Write & read calculated PSFs?"
Is there a way to serialize and read back in calculated PSFs?  I don't see any read mechanisms in the docs, and the write mechanism seems to be limited to single PSF models, not grids.

This question may apply more generally to photutils GridPSF models, but it would be useful here as the PSF calculations take a non-negligible amount of time to run (not too long, but not zero either).

[2022-08-12 15:10] mperrin commented on #570
Sure! For single PSFs, they're returned as FITS HDUList objects, so can be written & read back in just like any other FITS file, sure.

Similarly there's  code for exporting and reloading gridded PSF models. See example code in https://github.com/spacetelescope/webbpsf/blob/stable/notebooks/Gridded_PSF_Library.ipynb under the section heading "Saving Files".

Hope that helps!

[2022-08-12 15:39] keflavich commented on #570
Again, perfect!  I'm glad this is something you thought of.  I didn't find it in the docs by searching for 'read', 'write', or 'serialize' - it might help to index this.  But on the other hand, this issue ought to turn up on google next time I want to ask the same question.

[2022-08-26 15:21] abiglee7 opened #572 "No attribute of load_wss_opd_by_date?"
Hi! When I try to run the code example here: https://webbpsf.readthedocs.io/en/latest/jwst_measured_opds.html

I get the error:
`AttributeError: 'NIRCam' object has no attribute 'load_wss_opd_by_date'
`

Any tips on how to mitigate this?

[2022-08-26 15:31] marcio-melendez commented on #572
You need to make sure you are running the develop branch of WebbPSF, the function is inside webbpsf_core, line 1574:
https://github.com/spacetelescope/webbpsf/blob/develop/webbpsf/webbpsf_core.py#L1574
To check your installation, if you do `dir(nrc)`, you should see the following functions:
`load_wss_opd',
 'load_wss_opd_by_date'
In addition, your installation folder for WebbPSF should have the ma

[2022-08-26 15:33] mperrin commented on #572
Hi! The features to use WSS OPDs are new enough they’re only in the develop branch here on github, not the released version on pypi. My guess is you’re using the released version from pypi? Install the latest from here on GitHub and you should be good to go.

[2022-08-26 17:21] abiglee7 commented on #572
That worked! Thank you so much.

[2022-08-26 17:21] #572 closed, assigned to nobody

[2022-08-26 18:14] abiglee7 opened #573 "Issues with poppy dependency?"
Hello again! I am still trying to run this notebook on OPDs (https://webbpsf.readthedocs.io/en/latest/jwst_measured_opds.html) but I am now getting a new error when I run the command `psf = nrc.calc_psf(fov_pixels=101)`.  I am unsure of whether this is a bug or if I am using the wrong version of a package. For reference I have both the current developer version of poppy and webbpsf. Any help would

[2022-09-03 16:46] marcio-melendez commented on #573
Hi @abiglee7 ,
I have the same notebook running on my environment, for reference these are the versions of my packages. It may be your syphot installation (?).
synphot                   1.1.1                    pypi_0    pypi
webbpsf                   0.1.dev1904+gce6ca96.d20220823          pypi_0    pypi
poppy                     1.0.3                    pypi_0    pypi

I have had the same issue

[2022-09-09 14:24] mperrin opened #577 "Next Release Checklist"
- [x] Update default OPD @mperrin. (Done in #584)
- [x] Recommend to @ariedel a particular OPD for use in ETC   - @obi-wan76
- [x] Unit test for coron shift @mperrin
- [x] Update docs for some of the options such as coron shift and source offset and detector position @obi-wan76
- [ ] Update docs re throughput and what's counted in WebbPSF versus elsewhere such as the ETC engine OTE throughput file

[2022-09-14 20:41] #570 closed, assigned to nobody

[2022-09-14 20:45] mperrin commented on #221
Won't do; we do not have any detailed optical model information on MIRI MRS PSFs. Thus far it has seemed to be the case for the MIRI team that it suffices to use imager mode monochromatic PSFs when needed for MRS.

[2022-09-14 20:45] #221 closed

[2022-09-14 20:46] mperrin commented on #222
Won't do; we do not have any detailed optical model information on NIRSpec IFU WFE at this point. Thus far it has seemed to be the case for the NIRSpec team that it suffices to use imaging mode monochromatic PSFs (i.e. with image_mask='None') when needed for the IFU.

[2022-09-14 20:46] #222 closed

[2022-09-14 20:48] mperrin commented on #124
This was done already, a while ago. Stale issue. NIRCam coronagraph modeling is proven to work well, as seen in flight commissioning etc.

[2022-09-14 20:48] #124 closed

[2022-09-14 20:48] #568 closed, assigned to nobody

[2022-09-14 20:51] mperrin commented on #562
Apologies but I don't have any detailed insight into what might be going on. I don't have any direct experience with using WebbPSF in WSL on Windows.  @ojustino see the error message in this issue, please. Any chance you might have any insights into how to set this up with the environment variables in that context?

[2022-09-14 20:53] mperrin commented on #573
@abiglee7 wanted to check in and see if you've been able to make any progress on this, or if you might need additional debugging help still? Cheers.

[2022-09-17 02:54] mperrin opened #583 "minor: docs rendering issue"
Something changed in the CSS or other style display for the documentation, such that bullet point lists no longer show any bullet symbols. For instance see https://webbpsf.readthedocs.io/en/latest/relnotes.html

This is just cosmetic but it does seem to make it harder to read.

[2022-09-17 19:29] mperrin commented on #577
@obi-wan76 Marcio I think at one point you had offered to add some text in the docs about the coronagraph shift option and source offsets, and how all that works, etc. Is that something you might be able to do, perhaps quickly on Monday? We shouldn't hold up the release for that; that's a minor thing and can be done later if it doesn't fit now.

Similarly I'm going to punt adding more documentatio

[2022-09-18 02:01] marcio-melendez commented on #577
@mperrin yes, I'll try my best to do it on Monday morning.  I agree the release should not wait for this.

[2022-09-18 02:02] marcio-melendez commented on #577
Re: Help desk tickets. No extra attention, the release itself will clarify some of the help desk inquiries.

[2022-09-22 00:26] ojustino commented on #583
I believe this is because of a problem with the `stsci_rtd_theme` package that's used to control CSS settings. `jwst`'s docs have [~the same issue~](https://jwst-pipeline.readthedocs.io/en/latest/jwst/introduction.html#output-file) ([updated link](https://jwst-pipeline.readthedocs.io/en/latest/jwst/user_documentation/input_output_file_conventions.html)).

I reported this issue at spacetelescope/st

[2022-09-22 00:28] ojustino opened #591 "Improve test coverage after v1.1.0"
#584 and #588 showed decreases in test coverage that should be rectified. See their respective codecov results [here](https://app.codecov.io/gh/spacetelescope/webbpsf/pull/584) and [here](https://app.codecov.io/gh/spacetelescope/webbpsf/pull/588) for more information on the files affected. @mperrin suggested that at least some of the uncovered code (particularly new functions in `trending.py`) doe

[2022-09-26 19:15] abiglee7 commented on #573
Hi @obi-wan76, thank you so much! Upgrading synphot from 1.0.1 to 1.1.1 solved the bug. I appreciate your help!

[2022-09-26 19:16] #573 closed, assigned to nobody

[2022-10-20 19:20] kulpster85 opened #596 "Add various boolean parameters to bypass downloading OPDs from MAST and use fileName as full filePath"
This feature request is to allow external utilities (alternative to MAST Query) to build the opdtable and populate the _fileName_ column with the full file path.  (alternatively a _directory_ column if fileName is used in other ways)

Add a new boolean parameter to toggle the line below from executing and instead just set the full_file_path to the fileName column value.

`full_file_path = os.path.

[2022-10-20 19:28] kulpster85 opened #597 "Add opdtable as an optional paramater to monthly_trending_plot()"
This feature request is to allow external utilities (alternative to MAST Query) to utilize the monthly trending plot to pass in the opdtable as a parameter to _monthly_trending_plot_.

`def monthly_trending_plot(year, month, verbose=True, instrument='NIRCam', filter='F200W', vmax=200):`

This feature request would allow the opdtable to be provided which would contain the OPD file paths to circumve

[2022-10-29 19:37] keflavich opened #602 "Guidelines for using lists of grids? (all_detectors=True)"
Is there any practical way to use the list of grids from `psf_grid` on a dithered image?
[code]

There was some discussion in [this issue](https://github.com/spacetelescope/webbpsf/pull/241#issuecomment-434857984), but I can't find any example use cases.

The documentation titled ["Using PSF Grids"](https://webbpsf.readthedocs.io/en/latest/psf_grids.html) shows how to create and visualize the grid

[2022-11-07 16:19] jordan-stone opened #609 "filename disagreement with webbpsf-data-1.1.0.tar.gz"
`webbpsf.trending.wavefront_drift_plots`
is looking for a file named "wss_target_phase.fits", but the data file "webbpsf-data-1.1.0.tar.gz" distributes is named "wss_target_phase_fp1.fits".

[2022-11-07 18:31] mperrin commented on #602
Hi @keflavich - (First, I was away on vacation last week; thanks for understanding about this delayed response.)

Have you seen the [Photutils package documentation](https://photutils.readthedocs.io/en/stable/psf.html#psf-photometry) for PSF fitting? The PSF grid that's returned is designed to work as `photutils.GriddedPSFModel` for use with the PSF fitting photometry routines provided in photutil

[2022-11-07 18:45] keflavich commented on #602
Yes, I've read the photutils documentation and am using it extensively.  It applies to grids, but not lists of grids - which makes some sense, since each `GriddedPSFModel` refers to an individual detector.

I get that a grid defined for post-drizzle data isn't well-defined.  Nevertheless, averaging the PSFs for each visit would make a good starting point for that research project.

A simple use ca

[2022-11-14 15:44] mperrin opened #611 "Update Python versions supported"
Astropy will drop python 3.8 support in March 2023; we should follow along then, and drop that from the supported version and the CI.

Conversely we should add python 3.11 to the CI now that it's out.

[2022-11-18 13:38] mperrin opened #612 "Update WAS target phase map file in data files"
Need to fix the units issue in the released version of that file.

[2022-11-18 13:55] marcio-melendez commented on #612
This is partially related to issue #609 , i.e., we could also change the file name or check consistency.

[2022-11-18 14:04] mperrin opened #614 "Roadmap: In flight performance updates part 2"
Continues from #569

- [ ] Update pupil model for measured obscurations on SMSS struts
- [ ]   Update MIRI coronagraph pupil shear
- [ ]   Update MIRI cruciform model
- [ ]   Update/refactor SI pupil distortion models
- [ ]   Update documentation

[2022-11-18 14:06] mperrin opened #615 "Release checklist 1.1.1"
- [x] Update data files (#612)
- [ ]  Update docs re throughput and what's counted in WebbPSF versus elsewhere such as the ETC engine OTE throughput file, since this is a recurring point of confusion (Left over action from 1.1)

[2022-11-18 14:06] #577 closed, assigned to nobody

[2022-11-18 14:10] #569 closed, assigned to nobody

[2022-11-18 14:12] mperrin commented on #562
Hi, I wanted to follow up on this old issue from last summer. @Vikramb1, were you ever able to get this installed using WSL? Do. you still want or need further assistance with this?

[2022-11-18 14:12] #460 closed, assigned to nobody

[2022-11-18 14:13] #332 closed

[2022-11-20 20:59] Vikramb1 commented on #562
Hi, I did end up getting this to work, thanks.

[2022-11-20 20:59] #562 closed, assigned to nobody

[2022-11-29 22:23] #609 closed, assigned to nobody

[2022-11-30 23:11] marcio-melendez opened #616 "Trending wavefront_time_series_plot not properly scaling"
The wavefront_time_series_plot in trending.py  is not properly scaling the date axis when using the start_date and end_date parameters. The main issue is the label_visits and label_events, if both are set to False, then the figure has the correct scale.
![Screen Shot 2022-11-30 at 6 07 56 PM](https://user-images.githubusercontent.com/9635910/204927382-d719b8ea-cfe2-49ba-9d84-f1adbe85f0c2.png)
With

[2022-11-30 23:15] Skyhawk172 commented on #616
this is taken care of in [#603](https://github.com/spacetelescope/webbpsf/pull/603)

[2022-11-30 23:15] Skyhawk172 commented on #616
I confirm that this was taken care of in [#603](https://github.com/spacetelescope/webbpsf/pull/603).